01_analise_exploratoria – Análise Exploratória de Dados (EDA)
Neste notebook são realizadas as etapas de:
- Carregamento e limpeza dos dados brutos provenientes Agência Nacional de Águas e Saneamento Básico (ANA)
- Tratamento de valores ausentes e padronização de variáveis;
- Análise descritiva dos indicadores de resíduos e efluentes;
- Visualizações iniciais para identificar tendências, correlações e outliers.

O objetivo é compreender o comportamento dos dados e definir hipóteses para a modelagem.

In [20]:
# Bibliotecas
import pandas as pd
import numpy as np
import matplotlib as plt

In [21]:
path = '/home/solubio/Documents/joao/Kaggle/Portifolio_Joao_Guilherme_Chimanski/'

In [22]:
# Leitura dos dados
data = pd.read_csv(path + 'data/raw/Atlas_Esgotos_ETE_2020.csv', sep=",")
data.head()

,X,Y,OBJECTID,ETE_CD,ETE_NM,ETE_ACH_CD,ETE_AA_OPERACAO,ETE_DS_STATUS,ETE_DS_INTEGRADO,ETE_DS_TOTAL,ETE_DS_TIPOLOGIA,ETE_NM_CORPORECEPTOR,ETE_QT_POPPROJ,ETE_PC_REMOCAODBO,ETE_PC_REMOCAOP,ETE_PC_REMOCAON,ETE_MUN_CD_IBGE,ETE_NM_REGIAOMETROP,ETE_DS_TIPOLOGRESUMIDA
0,-54.302599,-22.486521,1,5005103_ETE_2,ETE Jateí II,8638287,0,Ativa,Não,Sim,"Reator Anaeróbio (RAFA, RALF, UASB, DAFA)",,0,0.65,0.0,0.0,5005103,,RAN
1,-56.435542,-14.399347,2,5103502_ETE_1,ETE COHAB Morumbi,89999466,0,Ativa,Não,Sim,Lagoa Facultativa,,0,0.75,0.0,0.0,5103502,,LAG
2,-47.342633,-2.974281,3,1505502_ETE_2,ETE Morada dos Ventos,714263,0,Ativa,Não,Sim,Reator Anaeróbio + Lodos Ativados,,0,0.85,0.0,0.0,1505502,,RAN
3,-32.428464,-3.847619,4,2605459_ETE_1,ETE Boldró,0,0,Ativa,Não,Sim,Lagoa Facultativa,,0,0.78,0.0,0.0,2605459,,LAG
4,-45.558484,-20.122577,5,3135308_ETE_2,ETE Capoeirão,7699582,0,Ativa,Não,Sim,Lagoa Facultativa,Córrego Gotano,0,0.78,0.0,0.0,3135308,,LAG

DESCRIÇÃO	|	CAMPOS ORIGINAIS
|--------|-------|    
Região metropolitana ou principais aglomerados urbanos do País	|	ETE_NM_REGIAOMETROP
Código da ETE	|	ETE_CD
Denominação da ETE	|	ETE_NOME
Situação operacional da ETE	|	ETE_STATUS
Indica quando a ETE é parte de sistema integrado	|	ETE_INTEGR
Sim (quando a vazão da ETE está totalizada) e Não (quando a vazão da ETE corresponde apenas à do município)	|	ETE_TOTAL
Tipologia do processo de tratamento	|	ETE_DS_TIPOLOGIA
População de projeto da ETE	|	ETE_QT_POPPROJ
Remoção medida, projetada ou adotada de DBO 5 dias, 20° C atribuída à ETE (medida ou projetada ou adotada)	|	ETE_PC_REMOCAODBO
Remoção de fósforo correspondente ao tipo de tratamento adotado	|	ETE_PC_REMOCAOP
Remoção de fósforo medida	|	ETE_PC_REMOCAON
Nome do rio que recebe os efluentes da ETE	|	ETE_NM_CORPORECEPTOR
Código Otto da microbacia (COBACIA)	|	ETE_ACH_CD
Ano provável do início de operação da ETE	|	ETE_AA_OPERACAO
Latitude	|	LATITUDE
Longitude	|	LONGITUDE
Grupo de Tipologias de Tratamento	|	ETE_DS_TIPOLOGRESUMIDA

Fonte: Agência Nacional de Águas e Saneamento Básico (2020)

In [ ]:
data.describe()

,X,Y,OBJECTID,ETE_AA_OPERACAO,ETE_QT_POPPROJ,ETE_PC_REMOCAODBO,ETE_PC_REMOCAOP,ETE_PC_REMOCAON,ETE_MUN_CD_IBGE
count,3774.000000,3774.000000,3774.000000,3774.000000,3.774000e+03,3774.000000,3774.000000,3774.000000,3.774000e+03
mean,-45.967604,-17.898682,1887.500000,68.859036,3.795260e+03,0.751709,0.000217,0.000424,3.381360e+06
std,6.082609,7.405986,1089.604286,366.078390,4.231331e+04,0.167528,0.013348,0.018414,8.473256e+05
min,-67.830194,-32.569017,1.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.100023e+06
25%,-50.335041,-22.910138,944.250000,0.000000,0.000000e+00,0.690000,0.000000,0.000000,2.919207e+06
50%,-46.848093,-20.340165,1887.500000,0.000000,0.000000e+00,0.800000,0.000000,0.000000,3.304557e+06
75%,-40.577259,-12.883796,2830.750000,0.000000,0.000000e+00,0.850000,0.000000,0.000000,3.557006e+06
max,-32.408010,2.783106,3774.000000,2020.000000,1.500000e+06,0.990000,0.820000,0.800000,5.300108e+06